<h2 class="page-header" ng-hide="trainingEditCtrl.training.ID">Add Training</h2>
<h2 class="page-header" ng-show="trainingEditCtrl.training.ID">Edit Training</h2>

<form name="trainingEditCtrl.trainingForm" role="form">

    <div class="panel panel-primary">
        <div class="panel-heading">Basic Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Name</label>
                    <input type="text" ng-model="trainingEditCtrl.training.Name" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Description</label>
                    <textarea ng-model="trainingEditCtrl.training.Description" class="form-control"></textarea>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Start</label>
                    <input type="date" ng-model="trainingEditCtrl.training.startDate" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">End</label>
                    <input type="date" ng-model="trainingEditCtrl.training.endDate" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" ng-show="trainingEditCtrl.training.ID">
        <div class="panel-heading">Material</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12" show-errors ng-hide="trainingEditCtrl.uploadInProgress">
                    You can attach a presentation or training material for users to review.
                    <h4>
                        <span class="label label-default">{{trainingEditCtrl.training.FilePathToMedia}}</span>
                        <span class="btn btn-info btn-file">
                            Browse <input type="file" ng-model="trainingEditCtrl.fileToUpload" ngf-select="trainingEditCtrl.fileInputChanged(trainingEditCtrl.fileToUpload)" />
                        </span>
                        <a href="/Training/GetTrainingMedia/{{trainingEditCtrl.training.ID}}" target="_blank">Preview File</a>
                    </h4>
                </div>
                <div class="col-md-12" ng-show="trainingEditCtrl.uploadInProgress">
                    <img src="/Content/Images/loader32.gif"/>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Questions</div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Action</th>
                        <th>Question Text</th>
                    </tr>
                    <tr ng-repeat="question in trainingEditCtrl.training.Questions track by $index">
                        <td>
                            <a href="#" ng-click="trainingEditCtrl.editQuestion(question.ID)">Edit</a> |
                            <a href="#" ng-click="trainingEditCtrl.deleteQuestion(question.ID)">Delete</a>
                        </td>
                        <td>{{question.Text}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input type="button" class="btn btn-default col-md-2" value="Add a Question" ng-click="trainingEditCtrl.editQuestion()">
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <input type="button" class="btn btn-primary pull-right" ng-click="trainingQuestionsCtrl.nextStep()" value="Next Step" />
    </div>

    <div class="alert alert-info" role="alert" ng-hide="trainingEditCtrl.training.ID">
        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
        After you save options to add questions and material will be available.
    </div>

    <div class="col-md-12">
        <input class="btn btn-primary" value="Save" ng-click="trainingEditCtrl.save()"/>
    </div>

</form>



