<h2>Training Table </h2>

<div class="form-group">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="training in trainingCtrl.trainings">
            <td>
                <a ui-sref=".edit({trainingId : training.ID})">Edit</a> | 
                <a href="#" ng-click="trainingCtrl.delete(training.ID)">Delete</a>
            </td>
            <td>{{training.Name}}</td>
            <td>{{training.Description}}</td>
        </tr>
    </table>

    <input type ="button" class="btn btn-primary" value="Add A New Training" ui-sref=".edit()"/>
</div>