<h2 class="page-header">Training</h2>

<ol class="breadcrumb">
    <li><a ui-sref="training.edit({ID: trainingAssignCtrl.trainingId})">Training</a></li>
    <li><a ui-sref="training.questions({ID: trainingAssignCtrl.trainingId})">Questions</a></li>
    <li><a ui-sref="training.schedule({ID: trainingAssignCtrl.trainingId})">Schedule</a></li>
    <li class="active">Assign</li>
</ol>

<form name="" role="form" >

    <div class="panel panel-primary">
        <div class="panel-heading">Training Step 4 - Assign</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <label class="">Assign Groups</label>
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="trainingAssignCtrl.selectedGroup" uib-typeahead="type as type.Value for type in trainingAssignCtrl.groupList | filter:$viewValue | limitTo:8" class="form-control">

                </div>
                <div class="col-md-3">
                    <input type="button"
                           class="btn btn-success"
                           ng-click="trainingAssignCtrl.moveItem(trainingAssignCtrl.selectedGroup, trainingAssignCtrl.groupList, trainingAssignCtrl.selectedList, true)"
                           value="Add" />
                </div>
            </div>
            <div class="row scheduleSpacing">
                <div class="col-md-2">
                    <label class="">Assigned Groups</label>
                </div>
                <div class="col-md-3">
                    <select id="selectedList"
                            multiple
                            class="form-control"
                            name="selectedList"
                            size="4"
                            ng-model="trainingAssignCtrl.assignedGroup"
                            ng-options="type as type.Value for type in trainingAssignCtrl.selectedList"></select>
                </div>
                <div class="col-md-2">
                    <input type="button"
                           class="btn btn-danger"
                           ng-click="trainingAssignCtrl.moveItem(trainingAssignCtrl.assignedGroup[0], trainingAssignCtrl.selectedList, trainingAssignCtrl.groupList, false)"
                           value="Remove" />

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <input type="button" class="btn btn-primary pull-right" ng-click="trainingAssignCtrl.finish()" value="Finish" />
    </div>
</form>


