<h2 class="page-header">Training</h2>

<ol class="breadcrumb">
    <li><a ui-sref="training.edit({ID: trainingScheduleCtrl.trainingId})">Training</a></li>
    <li><a ui-sref="training.questions({ID: trainingScheduleCtrl.trainingId})">Questions</a></li>
    <li class="active">Schedule</li>
    <li><a ui-sref="training.assign({ID: trainingScheduleCtrl.trainingId})">Assign</a></li>
</ol>

<form name="trainingScheduleCtrl.trainingScheduleForm" role="form" ng-submit="trainingScheduleCtrl.submit()">

    <div class="panel panel-primary">
        <div class="panel-heading">Training Step 3 - Add Schedule</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="">Email Frequency</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control"
                                name="role"
                                ng-model="trainingScheduleCtrl.schedule.emailFrequency"
                                ng-options="type.Key as type.Value for type in trainingScheduleCtrl.emailFrequencyList"
                                required></select>
                    </div>
                </div>
            </div>

            <div class="row scheduleSpacing">
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="">Training Recurrence</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control"
                                name="role"
                                ng-model="trainingScheduleCtrl.schedule.trainingFrequency"
                                ng-options="type.Key as type.Value for type in trainingScheduleCtrl.trainingFrequencyList"
                                required></select>
                    </div>
                </div>
            </div>
            <div class="row scheduleSpacing">
                <div class="form-group form-group-sm">
                    <label class="control-label text-left col-md-2">Start Date</label>

                    <div class="col-md-3" show-errors>
                        <fancy-date date-field="trainingScheduleCtrl.schedule.StartDay"></fancy-date>
                    </div>
                </div>
            </div>
            <div class="row scheduleSpacing">
                <div class="form-group form-group-sm">
                    <label class="control-label text-left col-md-2">End Date</label>

                    <div class="col-md-3" show-errors>
                        <fancy-date date-field="trainingScheduleCtrl.schedule.EndDay"></fancy-date>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <input type="button" class="btn btn-primary pull-right" ng-click="trainingScheduleCtrl.nextStep()" value="Next Step" />
    </div>
</form>


