@* 
    This is the Add Training Page which allows an HR member to add training quizzes for employees to take.
    Bootstrap and CSS is used for styling.  When a new quiz is added, the HR person fills out several inputs
    about the quiz including:  Title, Description, Groups Applied To, Media File associated with quiz, and 
    the actually quiz questions and answers.  Once submitted, the quiz will be saved into the database.
*@

<link rel="stylesheet" type="text/css" href="~/Content/addTraining.css" />
<h2>Add Quiz</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="trainingTitle">Title</label>
                <input type="text" class="form-control" id="trainingTitle" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="trainingDesc">Description</label>
                <input type="text" class="form-control" id="trainingDesc" placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label for="groupApplied">Group(s) Applied To</label>
                <select multiple class="form-control" id="groupsApplied">
                    <option>Training Administrators</option>
                    <option>Leadership</option>
                    <option>Users</option>
                </select>
            </div>

            <div class="form-group">
                <label for="uploadMedia">Upload Media File</label>
                <input type="file" name="uploadFile" class="hide-file">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Choose Media">
                    <span class="input-group-btn">
                        <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                    </span>
                </div>
            </div>

            <h4>Add Quiz Questions</h4>

            <div class="form-group">
                <label for="uploadMedia">Question Type</label>
                <div class="wrap" ng-app="">
                    <label for="multipleChoice">Multiple Choice</label>
                    <input id="multipleChoice" type="radio" name="content" ng-model="content" value="multipleChoice">
                    <br />
                    <label for="trueFalse">True/False</label>
                    <input id="trueFalse" type="radio" name="content" ng-model="content" value="trueFalse">
                    <br />
                    <label for="shortAnswer">Short Answer</label>
                    <input id="shortAnswer" type="radio" name="content" ng-model="content" value="shortAnswer">
                    <br /> <br />

                    <!--Add Question Here-->
                    <label for="questionText">Question</label>
                    <input type="text" class="form-control" id="questionText" placeholder="Enter Quiz Question">
                    <br />
                    <div class="wrapper">
                        <!--Box these in.
                            Multiple choice. Choices:
                            Four options. Correct choice underneath. Input boxes after choice and answer.-->
                        <p ng-show="content == 'multipleChoice'">Multiple choice here</p>
                        <!--Box these in.
                            Multiple choice. Choices:
                            Four options. Correct choice underneath. Input boxes after choice and answer.-->
                        <h2 ng-show="content == 'trueFalse'">True/false here</h2>
                        <!--Box these in.
                            Short Answer. Question:
                            No options. Large input box.-->
                        <div ng-show="content == 'shortAnswer'">
                            <label for="comment">Short Answer Question:</label>
                            <textarea class="form-control" rows="5" id="shortAnswerQuestion"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!--Think of this too.-->
            <button type="submit" class="btn btn-primary pull-right resizeBtn">Add More</button>
            <br /> <br />
            <!--Think of this too.-->
            <button type="submit" class="btn btn-primary pull-right resizeBtn">Submit Quiz</button>
        </div>
    </div>

</form>
<script type="text/javascript" src="~/Scripts/addTraining.js"></script>
