@* 
    This is the Add Training Page which allows an HR member to add training quizzes for employees to take.
    Bootstrap and CSS is used for styling.  When a new quiz is added, the HR person fills out several inputs
    about the quiz including:  Title, Description, Groups Applied To, Media File associated with quiz, and 
    the actually quiz questions and answers.  Once submitted, the quiz will be saved into the database.
*@

<link rel="stylesheet" type="text/css" href="~/Content/addTraining.css" />
<h2>Add Quiz</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="trainingTitle">Title</label>
                <input type="text" class="form-control" id="trainingTitle" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="trainingDesc">Description</label>
                <input type="text" class="form-control" id="trainingDesc" placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label for="groupApplied">Group(s) Applied To</label>
                <select multiple class="form-control" id="groupsApplied">
                    <option>Training Administrators</option>
                    <option>Leadership</option>
                    <option>Users</option>
                </select>
            </div>

            <div class="form-group">
                <label for="uploadMedia">Upload Media File</label>
                <input type="file" name="uploadFile" class="hide-file">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Choose Media">
                    <span class="input-group-btn">
                        <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                    </span>
                </div>
            </div>

            <h4>Add Quiz Questions</h4>

            <div class="form-group">
                <label for="uploadMedia">Question Type</label>
                <div class="radio">
                    <label><input id="mcType" type="radio" name="typeRadio">Multiple Choice</label>
                </div>
                <div class="radio">
                    <label><input id="tfType" type="radio" name="typeRadio">True/False</label>
                </div>
                <div class="radio">
                    <label><input id="saType" type="radio" name="typeRadio">Short Answer</label>
                </div>
            </div>

            <div class="form-group">
                <label for="questionText">Question</label>
                <input type="text" class="form-control" id="questionText" placeholder="Enter Quiz Question">
            </div>
            
   



            

            <button type="submit" class="btn btn-primary pull-right resizeBtn">Add More</button>
        </div>
    </div>

</form>
<script type="text/javascript" src="~/Scripts/addTraining.js"></script>
