<link rel="stylesheet" type="text/css" href="~/Content/add-training.css" />


<h2>Add Training</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="trainingTitle">Title</label>
                <input type="text" class="form-control" id="trainingTitle" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="trainingDesc">Description</label>
                <input type="text" class="form-control" id="trainingDesc" placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label for="groupApplied">Group(s) Applied To</label>
                <select multiple class="form-control" id="groupsApplied">
                    <option>All Employees</option>
                    <option>HR</option>
                    <option>Managers</option>
                    <option>Development</option>
                </select>
            </div>
            <div class="form-group">
                <label for="uploadMedia">Upload Media File</label>
                <input type="file" name="uploadFile" style="visibility:hidden;position:absolute">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Upload Media">
                    <span class="input-group-btn">
                        <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="addLink">Insert Quiz Link</label>
                <input type="text" class="form-control" id="addLink" placeholder="Enter Quiz Link">
            </div>
            <button type="submit" class="btn btn-primary pull-right resizeBtn">Submit</button>
        </div>   
    </div>
    

</form>