<h2>Add Training</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="trainingTitle">Title</label>
                <input type="text" class="form-control" id="trainingTitle" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="trainingDesc">Description</label>
                <input type="text" class="form-control" id="trainingDesc" placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label for="groupApplied">Group Applied To</label>
                <select multiple class="form-control" id="groupsApplied">
                    <option>All Employees</option>
                    <option>HR</option>
                    <option>Managers</option>
                    <option>Development</option>
                </select>
            </div>
        </div>   
    </div>
    

</form>