@*This file holds the page where the ability to edit traning is. Users can look
  at different training and delete exisitng traning. They can also add training, 
  which will reroute them to a new page to do so.*@
@{
    ViewBag.Title = "All Training";
}
@model HumanArcCompliance.Models.UserViewModel
@Html.HiddenFor(m => m.isHR, new { id = "hrCheck" })
@Html.HiddenFor(m => m.isManager, new { id = "managerCheck" })
@Html.HiddenFor(m => m.userGroups, new { id = "memberOf" })
<div id="spinner" style="display:block" ;>
    <h3 id="spinnerText"></h3>
    <h4>If the page takes loger then 5 seconds to load click <a onClick="window.location.reload()">Here</a></h4>
    <img src="~/Content/Images/loader32.gif" alt="loading" />
</div>
<div id="main-container">
    <div>
        <h2>Edit or Remove Exisiting Training</h2>
        <h4>Review already existing training below by clicking on the edit button to edit, or the remove button to remove.</h4><br /><br />
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                @* creates table based off 'AllTraining.js' script *@
                <table id="trainingTable" class="display" cellspacing="0" style="width:100%;"></table>
                @* button placement to add a new training, goes to 'addTraining.cshtml' page *@
                <input type="submit" value="Add A New Training" id="AddTrainingButton"
                       class="btn btn-primary" role="button" aria-disabled="false"
                       onclick="location.href='@Url.Action("AddTraining", "Training")'" />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    @*Modal for Remove Quiz confimation*@
    <div class="modal fade" id="confirmRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Remove
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this quiz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="removeQuizBtn" class="btn btn-success success">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/AllTraining.js"></script>

