@model HumanArcCompliance.Models.UserQuizViewModel
<div ng-app="editTrainingApp">
    <div ng-controller="editQuizController">
        @Html.TextBoxFor(m => m.title, new { disabled = "disabled", data_ng_model = "quiz.title", data_ng_init = string.Format("quiz.title = '{0}'", Model.title.Replace("'", @"\'")) })
        <p><span ng-bind="quiz.title"></span></p>
        @Html.TextBoxFor(m => m.description, new { data_ng_model = "quiz.description", data_ng_init = (Model.description != null ? string.Format("quiz.description = '{0}'", Model.description.Replace("'", @"\'")) : "") })
        <p><span ng-bind="quiz.description"></span></p>
        @Html.TextBoxFor(m => m.media, new { data_ng_model = "quiz.media", data_ng_init = (Model.media != null ? string.Format("quiz.description = '{0}'", Model.description.Replace("'", @"\'")) : "") })
        <p><span ng-bind="quiz.media"></span></p>

        @Html.DropDownListFor(m => m.groups,
                         new SelectList(Model.groups, "id", "name"), new { multiple = "multiple" })

        <div id="sandbox-container">
            <div class="form-group row required">
                <label class="col-sm-3 col-form-label control-label">Start Date</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="startDate" name="startDate" type="text" class="form-control quizFormInfo dateInfo" ng-model="quizData.startDate" required />
                        <label class="input-group-addon btn" for="startDate">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                    <span id="startWarning" style="color:red"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/datepicker.js"></script>

<script src="~/Scripts/editTraining.js"></script>

