@{
    ViewBag.Title = "Edit Training";
}

<div>
	<h2>Training Table</h2>
</div>

<div class="form-group">
	<div class="row">

	    <div class="col-md-10">
            <table id="trainingTable" class="display" cellspacing="0" style="width:100%;"> 
            </table>
    </div>
    <input type="submit" value="Add A New Training" id="AddTrainingButton" 
               class="btn btn-primary" role="button" aria-disabled="false"
               onclick="location.href='@Url.Action("AddTraining", "Training")'"/>
</div>

<script src="~/Scripts/EditTraining.js"></script>

