<div hidden id="employeeId" value="@ViewBag.id">@ViewBag.id</div>
<script type="text/javascript" src="~/Scripts/employeeQuizes.js"></script>

<h1>Needs Grading</h1>
<table id="needsGraded" class="display" cellspacing="0" style="width:100%;"></table>
<h1>Not Completed</h1>
<table id="notCompleted" class="display" cellspacing="0" style="width:100%;"></table>
<h1>Completed</h1>
<table id="completed" class="display" cellspacing="0" style="width:100%;"></table>