<link rel="stylesheet" type="text/css" href="~/Content/manageEmployees.css" />
<h1>Grade Quizes</h1>

@*<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search Employee Name" aria-describedby="searchBtn">
            <span class="input-group-addon btn btn-default glyphicon glyphicon-search" id="searchBtn"></span>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>*@

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        <table id="gradeEmpTable" class="display" cellspacing="0" style="width:100%;"></table>
    </div>

    <div class="col-md-1"></div>
</div>

<script src="~/Scripts/gradingQuiz.js"></script>