<!--View page for the My Training page, where you can see all your To Do Trainings and Completed Trainings-->

<link rel="stylesheet" type="text/css" href="~/Content/myTraining.css" />
<h2>John Doe</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <!--Table for To Do Trainings: -->
            <h3>To Do:</h3>
            <div class="row">
                <div class="col-md-10">
                    <table id="notCompleted" class="display" cellspacing="0" style="width:100%;"></table>
                </div>
            </div>

            <h3>Awaiting Grade:</h3>
            <div class="row">
                <div class="col-md-10">
                    <table id="needsGraded" class="display" cellspacing="0" style="width:100%;"></table>
                </div>
            </div>

            <!--Table for Completed Trainings: -->
            <h3>Completed:</h3>
            <div class="row">
                <div class="col-md-10">
                    <table id="completed" class="display" cellspacing="0" style="width:100%;"></table>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Scripts/myTraining.js"></script>
