<link rel="stylesheet" type="text/css" href="~/Content/myTraining.css" />
<h2>John Doe</h2>
<form>
    <div class="row">
        <div class="col-md-8">
            <!--Table for To Do: -->
            <h3>To Do:</h3>
            <div class="row">
                <div class="col-md-10">
                    <table id="toDoTable" class="display" cellspacing="0" style="width:100%;"></table>
                </div>
            </div>

            <!--Table for Completed: -->
            <h3>Completed:</h3>
            <div class="row">
                <div class="col-md-10">
                    <table id="completedTable" class="display" cellspacing="0" style="width:100%;"></table>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Scripts/trainingDataset.js"></script>
