@*{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Quiz.js"></script>

<div ng-app="Quizapp" ng-controller="QuizCtrl">
    <question-container ng-show="questionsvisible"></question-container>
    <correct-container ng-show="!notvisible"></correct-container>
</div>
*@


@*
BASICALLY, THIS CODE RUNS IN ANY HTML OTHER THAN THIS ONE.
I DON'T KNOW WHY, BUT THIS PARTICULAR FILE DOESN'T READ ANGULARJS EVEN WHEN THE SCRIPT IS PROVIDED.

<div ng-app="Quizapp" ng-controller="QuizCtrl">
    {{name + " "}}
</div>

<script>
    var Myapp = angular.module('Quizapp', []);
    Myapp.controller('QuizCtrl', function ($scope, $http) {
        $scope.name = "Test";
    });
</script>*@

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<body ng-app="">
    <p>My first expression: {{ 5 + 5 }}</p>
</body>
