@*{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Quiz.js"></script>

<div ng-app="Quizapp" ng-controller="QuizCtrl">
    <question-container ng-show="questionsvisible"></question-container>
    <correct-container ng-show="!notvisible"></correct-container>
</div>
*@

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

    <div ng-app="Quizapp" ng-controller="QuizCtrl">
        {{name + " "}}
        <question-container ng-show="questionsvisible"></question-container>
        <correct-container ng-show="!notvisible"></correct-container>
    </div>

    <script>
        var Myapp = angular.module('Quizapp', []);
        Myapp.controller('QuizCtrl', function ($scope, $http) {
            $scope.name = "Test";
        });
    </script>

</body>
</html>
