<h2>Quiz</h2>
<br />

<div ng-app="QuizApp" ng-controller="QuizCtrl" ng-init="json">
    <div ng-repeat="question in json.allQuestions">
        <!--Displays multiple choice questions-->
        <div ng-if="question.type == 'multipleChoice'">
            <!--If Question type = Multiple choice-->
            <div class="row">
                <div class="col-sm-4">
                    <label for="choices">{{json.allQuestions.indexOf(question)+1}}. {{question.text}}</label>
                </div>
            </div>
            <div ng-repeat="answer in question.answers">
                <input type="radio" value="{{answer.text}}" name="{{question.text}}"> {{answer.text}}
            </div>
        </div>

        <!--Displays true/false questions-->
        <div ng-if="question.type == 'trueFalse'">
            <!--If Question type = True/False-->   
            <div class="row">
                <div class="col-sm-4">
                    <label for="choices">{{json.allQuestions.indexOf(question)+1}}. {{question.text}}</label>
                </div>
            </div>
            <div ng-repeat="answer in question.answers">
                <input type="radio" value="{{answer.text}}" name="{{question.text}}"> {{answer.text}}
            </div>
        </div>

        <!--Displays short answer questions-->
        <div ng-if="question.type == 'shortAnswer'">
            <!--If Question type = Short Answer-->
            <div class="row">
                <div class="col-sm-4">
                    <label for="choices">{{json.allQuestions.indexOf(question)+1}}. {{question.text}}</label>
                </div>
            </div>
            <textarea rows="5" class="form-control" id="shortAnswerQuestion"></textarea>
        </div>
        <br />
    </div>
    @*Modal for Submit confimation*@
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Submit
                </div>
                <div class="modal-body">
                    Are you sure you want to submit this quiz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="submit" class="btn btn-success success" onclick="location.href='@Url.Action("myTraining", "Training")'">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <button id="submitModal" type="button" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary pull-right">Submit Quiz</button>
</div>
<script src="~/Scripts/Quiz.js"></script>