@model HumanArcCompliance.Models.UserViewModel
@Html.HiddenFor(m => m.isHR, new { id = "hrCheck" })
@Html.HiddenFor(m => m.isManager, new { id = "managerCheck" })
@Html.HiddenFor(m => m.userGroups, new { id = "memberOf" })
<div ng-app="QuizApp" ng-controller="QuizCtrl" ng-init="quiz">
    <h2>Quiz: {{quiz.title}}</h2>
    <h4>{{quiz.description}}</h4>
    <br />
    <div ng-repeat="question in questions">
        <!--Displays multiple choice questions-->
        <div ng-if="question.type == 'multipleChoice'">
            <div class="row">
                <div class="col-sm-4">
                    <label for="choices">{{quiz.questions.indexOf(question)+1}}. {{question.text}}</label>
                </div>
            </div>
            <div ng-repeat="answer in question.answers">
                <input type="radio" value="{{answer.text}}" name="{{question.text}}"> {{answer.text}}
            </div>
        </div>

        <!--Displays true/false questions-->
        <div ng-if="question.type == 'trueFalse'">
            <div class="row">
                <div class="col-sm-4">
                    <label for="choices">{{quiz.questions.indexOf(question)+1}}. {{question.text}}</label>
                </div>
            </div>
            <div ng-repeat="answer in question.answers">
                <input type="radio" value="{{answer.text}}" name="{{question.text}}"> {{answer.text}}
            </div>
        </div>

        <!--Displays short answer questions-->
        <div ng-if="question.type == 'shortAnswer'">
            <div class="row">
                <div class="col-sm-4">
                    <label for="choices">{{quiz.questions.indexOf(question)+1}}. {{question.text}}</label>
                </div>
            </div>
            <textarea rows="5" class="form-control" id="shortAnswerQuestion"></textarea>
        </div>
        <br />
    </div>

    @*TODO Submit user answers*@
    @*Modal for Submit confimation*@
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Submit
                </div>
                <div class="modal-body">
                    Are you sure you want to submit this quiz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="submit" class="btn btn-success success" onclick="location.href='@Url.Action("myTraining", "Training")'" ng-click="submitQuiz()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <button id="submitModal" type="button" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary pull-right">Submit Quiz</button>
</div>
<script src="~/Scripts/Quiz.js"></script>