@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

<script src="~/Scripts/Quiz.js"></script>

<div ng-app="Quizapp" ng-controller="QuizCtrl">
    <question-container ng-show="questionsvisible"></question-container>
    <correct-container ng-show="!notvisible"></correct-container>
</div>