<h2 class="page-header">Administer User Authorization</h2>

<form name="authorizationCtrl.authForm" class="form-inline">
    <div class="form-group">
        <label for="exampleInputName2">Role</label>
        <select class="form-control"
                name="role"
                ng-model="authorizationCtrl.auth.Role"
                ng-options="type.Key as type.Value for type in authorizationCtrl.rolesList"
                required></select>
    </div>
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" name="username"
               ng-model="authorizationCtrl.auth.UserName" 
               placeholder="jane.doe" required>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="authorizationCtrl.save()">Add To Role</button>
    </div>
</form>

<div ng-repeat="(role, users) in authorizationCtrl.rolesAndUsers">
    <hr/>
    <h2>{{role}}</h2><br/>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>User Name</th>
        </tr>
        <tr ng-repeat="user in users">
            <td><a href="#" ng-click="authorizationCtrl.remove(role, user.UserName)">remove</a></td>
            <td>{{user.DisplayName}}</td>
            <td>{{user.UserName}}</td>
        </tr>
    </table>
</div>


